In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from matplotlib import style
from matplotlib import pyplot as plt
import statsmodels.formula.api as smf
import graphviz as gr
from linearmodels.datasets import wage_panel

%matplotlib inline
pd.set_option("display.max_columns", 6)
style.use("fivethirtyeight")

ModuleNotFoundError: No module named 'statsmodels'

## Key Idea
Methods like propensity score, linear regression and matching are very good at controlling for confounding in non-random data, but they rely on a key assumption: conditional unconfoundedness
 
$
(Y_0, Y_1) \perp T | X
$
 
To put it in words, they require that all the confounders are known and measured, so that we can condition on them and make the treatment as good as random. One major issue with this is that sometimes we simply can't measure a confounder.

One way to deal with this is with instrumental variables, as we’ve seen before. But coming up with good instruments it’s no easy task.

We will try to estimate the effect of marriage on income. Our data contains those 2 variables, `married` and `lwage`, on multiple individuals `(nr)` for multiple years. In addition to this, we have other controls, like number of hours worked that year, years of education and so on.

In [3]:
data = wage_panel.load()
data.head()

   nr  year  black  ...     lwage  expersq  occupation
0  13  1980      0  ...  1.197540        1           9
1  13  1981      0  ...  1.853060        4           9
2  13  1982      0  ...  1.344462        9           9
3  13  1983      0  ...  1.433213       16           9
4  13  1984      0  ...  1.568125       25           5

[5 rows x 12 columns]

The fixed effect model is defined as

$
y_{it} = \beta X_{it} + \gamma U_i + e_{it}
$

where $y_{it}$ is the outcome of individual $i$ at time $t$, $X_{it}$ is the vector of variables for individual $i$ at time $t$. $U_i$ is a set of unobservables for individual $i$. Notice that those unobservables are unchanging through time. Finally,  $e_{it}$ is the error term. For the education example, $y_{it}$ is log wages,  $X_{it}$ are the observable variables that change in time, like marriage and experience and $U_i$ are the variables that are not observed but constant for each individual, like beauty and intelligence. 

We are partitioning the linear regression into 2 separate models.
Suppose you have a linear regression model with a set of features $X_1$ and another set of features $X_2$.

$
\hat{Y} = \hat{\beta_1} X_1 + \hat{\beta_2} X_2
$

where $X_1$ and $X_2$ are feature matrices and $\hat{\beta_1}$ and $\hat{\beta_2}$ are row vectors. You can get the exact same $\hat{\beta_1}$ parameter by doing

1. regress the outcome $y$ on the second set of features $\hat{y^*} = \hat{\gamma_1} X_2$
2. regress the first set of features on the second $\hat{X_1} = \hat{\gamma_2} X_2$
3. obtain the residuals $\tilde{X}_1 = X_1 - \hat{X_1}$ and $\tilde{y}_1 = y_1 - \hat{y^*}$
4. regress the residuals of the outcome on the residuals of the features $\hat{y} = \hat{\beta_1} \tilde{X}_1$

However we cannot create a dummy variable for each person.
Now running a regression on a dummy variable is as simple as estimating the mean for that dummy.
Let's run a model where we predict wages as a function of the year dummy.

In [6]:
mod = smf.ols("lwage ~ C(year)", data=data).fit()
mod.summary().tables[1]

In [7]:
data.groupby("year")["lwage"].mean()

year
1980    1.393477
1981    1.512867
1982    1.571667
1983    1.619263
1984    1.690295
1985    1.739410
1986    1.799719
1987    1.866479
Name: lwage, dtype: float64

This means that if we get the average for every person in our panel, we are essentially regressing the individual dummy on the other variables. This motivates the following estimation procedure:

1. Create time-demeaned variables by subtracting the mean for the individual:   
$\ddot{Y}_{it} = Y_{it} -  \bar{Y}_i$  
$\ddot{X}_{it} = X_{it} -  \bar{X}_i$

2. Regress $\ddot{Y}_{it}$ on $\ddot{X}_{it}$

Since $U_i$ is constant across time, we have that $\bar{U_i}=U_i$. If we have the following system of two equations

$$
\begin{align}
Y_{it} & = \beta X_{it} + \gamma U_i + e_{it} \\
\bar{Y}_{i} & = \beta \bar{X}_{it} + \gamma \bar{U}_i + \bar{e}_{it} \\
\end{align}
$$

And we subtract one from the other, we get

$$
\begin{align}
(Y_{it} - \bar{Y}_{i}) & = (\beta X_{it} - \beta \bar{X}_{it}) + (\gamma U_i - \gamma U_i) + (e_{it}-\bar{e}_{it}) \\
(Y_{it} - \bar{Y}_{i}) & = \beta(X_{it} - \bar{X}_{it}) + (e_{it}-\bar{e}_{it}) \\
\ddot{Y}_{it} & = \beta \ddot{X}_{it} + \ddot{e}_{it} \\
\end{align}
$$

which wipes out all unobserved that are constant across time.
And this happens to all the variables that are constant in time.

To check which variables are those, we can group our data by individual and get the sum of the standard deviations. If it is zero, it means the variable isn't changing across time for any of the individuals.

In [8]:
data.groupby("nr").std().sum()

year            1334.971910
black              0.000000
exper           1334.971910
hisp               0.000000
hours         203098.215649
married          140.372801
educ               0.000000
union            106.512445
lwage            173.929670
expersq        17608.242825
occupation       739.222281
dtype: float64

For our data, we need to remove `ethnicity`, `black` and `hisp` dummies, since they are constant for the individual. Also, we need to remove `education`. We will also not use `occupation`, since this is probably mediating the effect of marriage on wage.

## Create time-demeaned variables by subtracting the mean for the individual

In [9]:
Y = "lwage"
T = "married"
X = [T, "expersq", "union", "hours"]

mean_data = data.groupby("nr")[X + [Y]].mean()
mean_data.head()

     married  expersq  union     hours     lwage
nr
13     0.000     25.5  0.125  2807.625  1.255652
17     0.000     61.5  0.000  2504.125  1.637786
18     1.000     61.5  0.000  2350.500  2.034387
45     0.125     35.5  0.250  2225.875  1.773664
110    0.500     77.5  0.125  2108.000  2.055129

## Demean the data

In [10]:
demeaned_data = (data
               .set_index("nr") # set the index as the person indicator
               [X+[Y]]
               - mean_data) # subtract the mean data

demeaned_data.head()

    married  expersq  union    hours     lwage
nr
13      0.0    -24.5 -0.125 -135.625 -0.058112
13      0.0    -21.5  0.875 -487.625  0.597408
13      0.0    -16.5 -0.125  132.375  0.088810
13      0.0     -9.5 -0.125  152.375  0.177561
13      0.0     -0.5 -0.125  263.375  0.312473

## Regress on `lwage` using demeaned_data

In [11]:
mod = smf.ols(f"{Y} ~ {'+'.join(X)}", data=demeaned_data).fit()
mod.summary().tables[1]

This model is telling us that marriage increases a man's wage by 11%!

Using the library linearmodels

In [17]:
from linearmodels.panel import PanelOLS
mod = PanelOLS.from_formula("lwage ~ expersq+union+married+hours+EntityEffects",
                            data=data.set_index(["nr", "year"]))

result = mod.fit(cov_type='clustered', cluster_entity=True)
result.summary.tables[1]

If we want to control for time effects, adding a time dummy would control for variables that are fixed for each time period, but that might change across time.

In [18]:
mod = PanelOLS.from_formula("lwage ~ expersq+union+married+hours+EntityEffects+TimeEffects",
                            data=data.set_index(["nr", "year"]))

result = mod.fit(cov_type='clustered', cluster_entity=True, cluster_time=True)
result.summary.tables[1]

In this new model, the effect of marriage on wage decreased significantly from 0.1147 to 0.0476. Still, this result is significant.